<section id="banner_wrap">
    <div class="banner">
        <h2 class="head">New Music</h2>
        <div class="albums">
            <div class="album">
                <a href="#"><img src="../assets/imgs/wall01.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album"><a href="#"><img src="../assets/imgs/wall02.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album"><a href="#"><img src="../assets/imgs/wall03.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album"><a href="#"><img src="../assets/imgs/wall04.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album"><a href="#"><img src="../assets/imgs/wall05.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album">
                <a href="#"><img src="../assets/imgs/wall01.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album"><a href="#"><img src="../assets/imgs/wall02.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
            <div class="album"><a href="#"><img src="../assets/imgs/wall03.jpg" alt="">
                    <p>contents0</p>
                </a>
            </div>
        </div>
    </div>
  </section>