<section id="newsong">
  <h2 class="head">New Songs</h2>
  <div class="newsong-list">
    <div class="song">
      <img src="../assets/imgs/disk01.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk02.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk03.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk04.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk05.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk06.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk07.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk01.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk02.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
    <div class="song">
      <img src="../assets/imgs/disk03.jpeg" alt="">
      <div class="song_info">
        <h2>Boom cha cha</h2>
        <h3>kido.</h3>
      </div>
    </div>
  </div>
</section>