<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet> -->
<section id="banner_wrap">
  <div class="banner">
      <h2 class="head">Banner</h2>
      <div class="albums">
          <div class="album">
              <a href="#"><img src="../assets/imgs/wall01.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album"><a href="#"><img src="../assets/imgs/wall02.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album"><a href="#"><img src="../assets/imgs/wall03.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album"><a href="#"><img src="../assets/imgs/wall04.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album"><a href="#"><img src="../assets/imgs/wall05.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album">
              <a href="#"><img src="../assets/imgs/wall01.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album"><a href="#"><img src="../assets/imgs/wall02.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
          <div class="album"><a href="#"><img src="../assets/imgs/wall03.jpg" alt="">
                  <p>contents0</p>
              </a>
          </div>
      </div>
  </div>
</section>

<section id="recommended">
  <h2 class="head">Recommended</h2>
  <div class="recommended_song">
      <div class="song">
          <img src="../assets/imgs/disk01.jpeg" alt="">
          <h2>Boom cha cha</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk02.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk03.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk04.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk05.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk06.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk07.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk01.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk02.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk03.jpeg" alt="">
          <h2>Boom</h2>
          <h3>kido.</h3>
      </div>
  </div>
</section>

<section id="newsong">
  <h2 class="head">New Songs</h2>
  <div class="newsong-list">
      <div class="song">
          <img src="../assets/imgs/disk01.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk02.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk03.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk04.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk05.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk06.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk07.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk01.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk02.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
      <div class="song">
          <img src="../assets/imgs/disk03.jpeg" alt="">
          <div class="song_info">
              <h2>Boom cha cha</h2>
              <h3>kido.</h3>
          </div>
      </div>
  </div>
</section>


<footer>
  <h1>BGMusic Corp.</h1>
</footer>